.backgroundImage {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.backgroundMask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.homePageImage {
    object-fit: cover;
    overflow: hidden;
}

/* .backgroundColor {
    background-color: lightslategray;
    height: 100vh;
}

.homeBackgroundColor {
    background-color: lightslategray;
    height: 100%;
} */

body {
    background-color: lightslategray;
}

.divBackgroundColor {
    background-color: white;
    
}

p, li {
    font-size: 21px;
}

h3 {
    font-size: 34px;
}

h1 {
    font-weight: bold;
}